# JUST FOR THE POC
# The Braid Design System uses a lib called sku that is kind of invasive
# and cannot handle mono repos. So there are some files it injects which
# we gitignore here
.eslintignore
.prettierignore


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# managed by sku
.eslintrc
.prettierrc
coverage/
dist-playroom/
dist-storybook/
dist/
report/
tsconfig.json
# end managed by sku
